html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: sans-serif;
    outline-style: none;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#app {
    display: flex;
    position: absolute;
    width: 100%;
    /*! height: 80px; */
    /* overflow: hidden; */
    /* background: rgba(255,255,255, .8); */
}

#renderCanvas {
    display: none;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.menu {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    margin: 1%;
}

.logo {
    object-fit: cover;
    height: 60px;
    display: flex;
    border-radius: 5px;
    width: auto;
    padding: 0;
}

.materials {
    width: 30%;
    position: absolute;
    height: 100%;
    flex-wrap: wrap;
    display: none;
    flex-direction: row;
    right: 5px;
    align-content: flex-end;
    bottom: 5px;
}

.materials-btn {
    position: absolute;
    bottom: 0;
    height: 5vw;
    width: 5vw;
    background: transparent;
    font-size: 2em;
    border: none;
    padding: 0;
    justify-content: center;
    right: 5px;
}

.material-container {
    width: 100%;
    justify-content: flex-end;
    /*! background: rgba(255, 255, 255, 0.5); */
    color: #333;
    letter-spacing: 1px;
    /*! height: 50%; */
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    font-size: 1em;
    margin: 5px;
}

/* .material-container.sets {
    background: url('img/preview/materials/sets/makieta.jpg');
    background-position: 0 0;
    background-size: cover;
    filter: opacity(0.7);
    position: relative;
}

.material-container.sets>span {
    background: rgba(255, 255, 255, 0.8);
    padding: 50px 0;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
} */

.material-container span {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    width: 35%;
    background: #fff;
    padding: 60px;
    text-align: center;
    position: relative;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
}

.materials span:before {
    position: absolute;
    width: 15%;
    height: 30%;
    background-color: rgba(0, 0, 100, 0.1);
    content: "";
    top: 35%;
    left: 15%;
    border-radius: 50px;
}

.materials .plants {
    background-image: url(img/preview/materials/plants/tree.jpg);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position-x: right 15px;
    background-position-y: center;
}

.toggle-menu {
    position: absolute;
    top: 17vh;
    right: 10px;
    background: transparent;
    font-size: 2em;
    border: none;
    padding: 0;
    display: none;
    justify-content: center;
}

.toggle-menu i {
    pointer-events: none;
}

#materials-menu {
    display: none;
    width: 100%;
    margin-left: 1%;
}

.list-materials {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
}

.material {
    display: flex;
    flex-direction: row;
    color: rgba(0, 0, 0, 0.7);
    align-items: center;
    height: 100%;
}

.object-container {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mesh {
    position: relative;
    display: flex;
    width: 60px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.number {
    position: absolute;
    top: 5px;
    right: -80%;
    background: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 2px;
}

.name {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.7)
}

img {
    width: 160px;
    padding: 20px 0;
    transition: 0.4s all;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all;
}

.material-img {
    width: 100px;
}

.material-img:hover {
    transform: scale(1.2);
}

.info {
    background: #fff;
    color: rgba(0, 155, 255, 0.5);
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid rgba(0, 155, 255, 0.5);
}

.remove {
    background: #fff;
    color: red;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate {
    display: flex;
    flex-direction: row;
    width: 10%;
    text-align: center;
    height: 100%;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-around;
}

.textures {
    width: 40%;
    position: absolute;
    display: flex;
    height: auto;
    top: 100px;
    flex-direction: column;
}

.price {
    display: flex;
    width: 10%;
    text-align: center;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.price span {
    margin: 1%;
}

.price .value {
    background: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-style: italic;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.controls {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10%;
    justify-content: center;
}

.controls>span {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls .rotate-btn {
    display: flex;
    height: 30%;
    justify-content: space-evenly;
}

.controls img {
    height: 100%;
    padding: 0;
    width: auto;
}

.wood {
    width: 30%;
    text-align: center;
    align-self: center;
}

.texture {
    display: flex;
    width: 20%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
}

.texture span {
    height: 100%;
    display: flex;
    line-height: 40px;
}

.texture img {
    height: 80px;
    width: 100%;
    padding: 0;
}

.type {
    background: #fff;
    transition: 0.4s border;
    border: 2px solid transparent;
    line-height: 20px;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 10px;
    outline-color: transparent;
    -webkit-transition: 0.4s border;
    -moz-transition: 0.4s border;
    -ms-transition: 0.4s border;
    -o-transition: 0.4s border;
}

.type:hover {
    border: 2px solid;
}

.wood-type {
    height: 100px;
    background: rgba(0, 0, 0, 0.4);
    letter-spacing: 1px;
    color: #fff;
    padding: 10px;
    display: none;
    transition: 0.4s all;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all;
}

.wood-type img {
    width: 70%;
    height: 100%;
    padding: 0;
    filter: brightness(1.2);
}

.horizontal,
.vertical {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50px;
}

.vertical {
    transform: rotate(90deg);
}

li {
    list-style: none;
}

.top-menu {
    display: none;
}

.lang {
    background: none;
    height: 32px;
    width: 32px;
    border: none;
    filter: brightness(1.2);
    outline-style: none;
}

.lang.pl {
    background-image: url(img/lang/poland.png);
}

.lang.en {
    background-image: url(img/lang/united-states.png);
}